.gradle/
*.gradle
.gradle/caches/
.gradle/daemon/
.gradle/wrapper/
build/
!gradle-wrapper.jar
*.apk
*.ap_
*.dex
*.class
*.so
*.jar
*.keystore
.idea/
*.iml
*.hprof
*.log
local.properties
*.bat
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
out/
*.log
*.pid
captures/
output.json
*.lock
*.orig
*.rej
*.sublime-project
*.sublime-workspace
test-results/

